/* 
===============
Header styles
===============
*/

header {
    height: 527px;
    background: linear-gradient(
        var(--clr-primary-transparent-2),
        var(--clr-primary-transparent-2)
    ),
    url("./assets/header.png")
    center/cover no-repeat;
}

#header-banner {
    margin-top: 5rem;
}

/* 
===============
Services style
===============
*/


#services-title {
    max-width:  325px;
}

#services-heading {
    font-size: 2rem;
    color: var(--clr-grey-10);
}


/* 
===============
Card carousel styles
===============
*/


.carousel {
    position: relative;
    overflow: hidden;
}

.cards-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    border-radius: 1rem;
    box-shadow: var(--dark-shadow);
    flex: 0 0 calc(100% - 48px);
    scroll-snap-align: start;
    margin-right: 24px;
    height: 400px;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    .card {
        flex-basis: calc(50% - 36px);
    }
}

@media (min-width: 1024px) {
    .card {
        flex-basis: calc(33.333% - 32px);
    }
}

#scroll-left,
#scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#scroll-left {
    left: 0;
}

#scroll-right {
    right: 0;
}


#EZS-card {
    background: url("./assets/ezs.png") center/cover no-repeat;
}

#EPS-card {
    background: url("./assets/eps.png") center/cover no-repeat;
}

#CCTV-card {
    background: url("./assets/cctv.png") center/cover no-repeat;
}

#ACS-card {
    background: url("./assets/acs.jpg") center/cover no-repeat;
}

#EVAC-card {
    background: url("./assets/evac.png") center/cover no-repeat;
}