/* 
===============
Services style
===============
*/

#services {
    padding: 2rem 0;
}

#services-title {
    max-width:  325px;
}

#services-heading {
    font-size: 2rem;
    color: var(--clr-grey-10);
    margin-bottom: 2rem;
}


/* 
===============
Card carousel styles
===============
*/


.carousel {
    position: relative;
    overflow: hidden;
}

.cards-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 80%;
    margin: 0 auto;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    border-radius: 1rem;
    box-shadow: var(--dark-shadow);
    flex: 0 0 calc(100% - 48px);
    scroll-snap-align: start;
    margin-right: 24px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-heading-container {
    padding: 1rem;
}

.card-link-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-link {
    cursor: pointer;
    border-radius: 2rem;
    font-family: var(--ff-btn);
    padding: 0.75rem 2.5rem;
    border: 1px solid var(--clr-white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: var(--clr-white);
    font-weight: bold;
    font-size: var(--phone-font-size);
    text-decoration: none;
}

.card-link:hover {
    background: var(--clr-white);
    color: var(--clr-primary-5)
}

@media (min-width: 768px) {
    .card {
        flex-basis: calc(50% - 36px);
    }
}

@media (min-width: 1024px) {
    .card {
        flex-basis: calc(33.333% - 32px);
    }
}

#scroll-left,
#scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: var(--clr-primary-5);
    padding: 0.5rem 1.5rem;
}

#scroll-left {
    left: 0;
}

#scroll-right {
    right: 0;
}


#EZS-card {
    background:
    var(--dark-overlay),
    url("./assets/ezs.png")
    center/cover no-repeat;
}

#EPS-card {
    background:
    var(--dark-overlay),
    url("./assets/eps.png")
    center/cover no-repeat;
}

#CCTV-card {
    background:
    var(--dark-overlay),
    url("./assets/cctv.png")
    center/cover no-repeat;
}

#ACC-card {
    background:
    var(--dark-overlay),
    url("./assets/acc.jpg")
    center/cover no-repeat;
}

#EVAC-card {
    background:
    var(--dark-overlay),
    url("./assets/evac.png")
    center/cover no-repeat;
}

#FYZ-card {
    background:
    var(--dark-overlay),
    url("./assets/physical.png")
    center/cover no-repeat;
}

#PERIM-card {
    background:
    var(--dark-overlay),
    url("./assets/perimeter.png")
    center/cover no-repeat;
}

#KABEL-card {
    background:
    var(--dark-overlay),
    url("./assets/superstructure.png")
    center/cover no-repeat;
}

#SYSTEM-card {
    background:
    var(--dark-overlay),
    url("./assets/ezs.png")
    center/cover no-repeat;
}

#PLATE-card {
    background:
    var(--dark-overlay),
    url("./assets/plate_recognition.png")
    center/cover no-repeat;
}

