.optimus-complex-front.list-horizontal {
  margin-bottom: var(--brick-space-x4);
}

.optimus-complex-front .wrap-horizontal {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--brick-space-x3);
}

.optimus-complex-front .wrap-horizontal-space {
  padding: var(--brick-space-x2);
}
.optimus-complex-front .wrap-horizontal-space.solo-group {
  padding: 0;
}

@media screen and (max-width: 532px) {
  .optimus-complex-front.list-horizontal {
    margin-bottom: var(--brick-space-x3);
  }

  .optimus-complex-front .wrap-horizontal {
    padding: var(--brick-space-x1);
  }
  .optimus-complex-front .wrap-horizontal-space.solo-group {
    padding: 0;
  }
}
