amedia-comment-invite {
  display: block;
}

@media screen and (min-width: 769px) {
  amedia-comment-invite {
    width: 380px;
    margin-right: auto;
    margin-left: auto;
  }
    amedia-comment-invite button {
      width: 100%;
      justify-content: center;
    }
}