amedia-migrate-app .migrate-app-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 20px;
  background-color: var(--swatchMono-black, #292827);
  background-color: #292827bb;
  z-index: 99999;
}

amedia-migrate-app .migrate-app-content {
  position: relative;
  margin: 20vh auto 0;
  padding: 30px 20px;
  background-color: var(--swatchMono-gray7, #f6f5f1);
  width: 100%;
  max-width: 980px;
  text-align: center;
  box-sizing: border-box;
}

amedia-migrate-app .migrate-app-label {
  margin: 10px 0 20px;
  font-family: var(--secondary-font, 'FaktorSans');
  font-size: 1em;
  text-align: left;
}
