@media screen and (max-width: 532px) {
  amedia-frontpage amedia-latestlist.themeNettavisen {
    margin: 0;
    max-width: 100%;
  }

  amedia-frontpage.themeNettavisen optimus-element {
    background: transparent linear-gradient(#dadada, #dadada) no-repeat
      top/calc(100vw - 30px) 1px;
  }
  /* no divider on top element */
  amedia-frontpage.themeNettavisen optimus-element[index='0'] {
    background: none;
  }

  amedia-frontpage.themeNettavisen#front-0 .front {
    grid-row-gap: 0px;
    margin-bottom: 0px;
  }

  amedia-frontpage.themeNettavisen#front-0 .optimus-complex-front {
    margin-top: 15px;
  }
}

.themeNettavisen {
  --custom-background-color-two-front: #000;
  --custom-background-color-one-front: #fff;
}

/* Custom 1 - override default custom farger?*/
.themeNettavisen .background-custom.custom-one {
  background-color: #000;
  color: #fff;
}

/* Default color if no color is chosen */

.themeNettavisen .optimus-complex-front:not([class*='background']),
.themeNettavisen .optimus-complex-front[class*='background'] {
  background-color: var(--brick-colors-teaserNoImageBg, #e5e5e5);
  color: var(--brick-colors-teaserTitle, #000);
  margin-bottom: 30px;
}

.themeNettavisen
  .optimus-complex-front.list-horizontal:not([class*='background']),
.themeNettavisen
  .optimus-complex-front.list-horizontal:not([class*='background'])
  header
  h2 {
  background-color: var(--brick-colors-supportiveNoneBg, transparent);
}

/* Temporary hack! - Make groups with only one teaser and no group title appear as a regular teaser */
.themeNettavisen
  section.optimus-complex-front.noHeader
  optimus-element:only-of-type {
  background-color: #f5f5f5;
  margin-block: calc(var(--brick-space-x3) * -1);
}

.themeNettavisen
  section.optimus-complex-front.noHeader
  optimus-element:only-of-type
  article {
  padding: var(--brick-space-x2);
}

.themeNettavisen
  section.optimus-complex-front.noHeader
  optimus-element:only-of-type
  .marker {
  padding: 0;
}

@media screen and (min-width: 532px) {
  .themeNettavisen
    section.optimus-complex-front.noHeader
    optimus-element:only-of-type {
    background-color: #f5f5f5;
    transform: scale(1.0415);
  }
}

/*make it look like a tab*/
.themeNettavisen .optimus-complex-front:not([class*='background']) header {
  background-color: #f5f5f5;
}
.themeNettavisen .optimus-complex-front:not([class*='background']) header h2 {
  background-color: var(--brick-colors-teaserNoImageBg, #e5e5e5);
}

/*#f5f5f5*/

/*Temporary override of color on class "teaser" for bravoTheme in groups*/
.themeNettavisen .optimus-complex-front:not([class*='background']) .teaser {
  background-color: var(--brick-colors-teaserNoImageBg) !important;
  color: var(--brick-colors-teaserTitle) !important;
}

.themeNettavisen .optimus-complex-front[class*='optimus-custom-one'] {
  background-color: var(
    --brick-colors-supportiveCustomOneBg,
    --custom-background-color-one
  );
  color: var(--brick-colors-supportiveCustomoneFg, #fff);
}

.themeNettavisen .optimus-complex-front[class*='optimus-custom-one'] header,
.themeNettavisen .optimus-complex-front[class*='optimus-custom-two'] header,
.optimus-complex-front.optimus-complex-front.optimus-background-black header {
  background-color: #f5f5f5;
}

.themeNettavisen .optimus-complex-front[class*='optimus-custom-one'] header h2 {
  background-color: var(
    --brick-colors-supportiveCustomOneBg,
    --custom-background-color-one
  );
}
.themeNettavisen .optimus-complex-front[class*='optimus-custom-two'] header h2 {
  background-color: var(
    --brick-colors-supportiveCustomTwoBg,
    --custom-background-color-two
  );
}
.themeNettavisen .optimus-complex-front.optimus-background-black header h2 {
  background-color: var(--brick-colors-supportiveBlackBg, #000);
}

.themeNettavisen .optimus-complex-front[class*='optimus-custom-two'] {
  background-color: var(
    --brick-colors-supportiveCustomTwoBg,
    --custom-background-color-two
  );
  color: var(--brick-colors-supportiveCustomTwoFg, #000);
}

.themeNettavisen .optimus-complex-front[class*='optimus-custom-three'] {
  background-color: var(
    --brick-colors-supportiveCustomThreeBg,
    --custom-background-color-three
  );
  color: var(
    --brick-colors-supportiveCustomThreeFg,
    --custom-background-color-three-front
  );
}

.themeNettavisen .optimus-complex-front.optimus-background-black {
  background-color: var(--brick-colors-supportiveBlackBg, #000);
  color: var(--brick-colors-supportiveBlackFg, #fff);
}

.themeNettavisen .optimus-complex-front header {
  padding-right: 0px;
}

.themeNettavisen .optimus-complex-front header h2 {
  /*color: #fff;*/
  text-align: left;
  font-style: normal;
  text-transform: initial;
  display: inline-block;
  line-height: var(--brick-lineHeights-baseHeadlineM);
  letter-spacing: var(--brick-letterSpacings-baseHeadlineM);
  font-family: var(--brick-fonts-baseHeadlineM, --title-font);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 1px;
}

.themeNettavisen .optimus-complex-front header h2.large {
  /*color: #fff;*/
  text-align: left;
  font-style: normal;
  text-transform: initial;
  font-family: var(--brick-fonts-baseHeadlineL, --title-font);
  font-size: var(--brick-fontSizes-baseHeadlineL);
}

@media screen and (min-width: 533px) and (max-width: 1000px) {
  .themeNettavisen .optimus-complex-front header h2 {
    font-size: var(--brick-fontSizes-baseHeadlineM);
  }
}

@media screen and (max-width: 532px) {
  .themeNettavisen .optimus-complex-front header h2 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: unset;
  }
}

.themeNettavisenr skattelister-teaser.birthyrteaser div.body,
.themeNettavisen skattelister-teaser.postnrteaser div.body {
  background-color: #dfdee2;
}

.themeNettavisen .optimus-complex-front header {
  padding: 0;
  margin: 0;
}

.themeNettavisen .optimus-complex-front div[id^='front'] {
  padding-top: var(--brick-space-x3) !important;
  padding-bottom: var(--brick-space-x3) !important;
}

@media screen and (max-width: 532px) {
  .themeNettavisen .optimus-complex-front {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 0;
  }

  .themeNettavisen .optimus-complex-front header {
    padding: 0;
  }
}

.themeNettavisen .optimus-complex-front.optimus-background-black header h2 {
  padding: 10px;
}
