.am-embed-ratio .am-embed-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.am-embed-ratio .am-embed-container > iframe {
  width: 100% !important;
  height: 100% !important;
}

.am-embed-ratio {
  position: relative;
  height: 0;
}

.am-embed-error {
  color: #292827;
  background: #e7e6e2;
  padding: 10px 20px;
  line-height: 1.3em;
}

amedia-smartembed-iframe {
  display: block;
}

.am-embed-ratio.x-scroll {
  overflow-x: scroll;
}

.am-embed-ratio.x-scroll iframe {
  min-width: 800px;
}

.am-embed-ratio.x-scroll::-webkit-scrollbar {
  height: 8px;
}

.am-embed-ratio.x-scroll::-webkit-scrollbar-track {
  margin: 0 10px;
  background-color: #eee;
  border-radius: 10px;
}

.am-embed-ratio.x-scroll::-webkit-scrollbar-thumb {
  background-color: #484544;
  border-radius: 10px;
}
