@keyframes optimus-pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

amedia-frontpage {
  color: var(--swatchMono-black);
  background-color: var(--page-color, #ffffff);
  display: block;
  max-width: 980px;
  position: relative;
  min-height: 200vh;
}

amedia-frontpage .front {
  position: relative;
}

optimus-element {
  display: block;
  box-sizing: content-box !important;
}

amedia-frontpage .bazaar-grid {
  margin-bottom: 0;
}

amedia-frontpage .bazaar-grid bazaar-ad,
amedia-frontpage bazaar-ad[position='toppbannerfm'],
amedia-frontpage tivoli-realestatecarousel {
  margin-bottom: 30px !important;
}
amedia-frontpage tivoli-realestatecarousel {
  overflow: hidden;
}

amedia-frontpage
  amedia-include:has(amedia-smartembed):has(
    [data-component-layout='editorial'],
    [data-component-layout='commercial']
  ) {
  margin-bottom: max(
    var(--brick-space-x2s),
    var(--brick-space-teaserYInsetL, 15px),
    var(--brick-space-teaserContentYInsetL)
  );
  margin-top: max(
    var(--brick-space-x2s),
    var(--brick-space-teaserYInsetL, 15px),
    var(--brick-space-teaserContentYInsetL)
  );
}

@media screen and (min-width: 533px) and (max-width: 1000px) {
  amedia-frontpage .bazaar-grid bazaar-ad,
  amedia-frontpage bazaar-ad[position='toppbannerfm'],
  amedia-frontpage tivoli-realestatecarousel {
    margin-bottom: 3vwx !important;
  }
}

@media screen and (max-width: 532px) {
  amedia-frontpage .bazaar-grid bazaar-ad,
  amedia-frontpage bazaar-ad[position='toppbannerfm'],
  amedia-frontpage tivoli-realestatecarousel {
    margin-bottom: 6vw !important;
  }

  /* Overrides for making ads adjust to grid */
  amedia-frontpage section.bazaar-grid.full {
    margin-left: 0;
    margin-right: 0;
  }

  /* amedia-include*/

  amedia-frontpage
    amedia-include:has(amedia-smartembed):has(
      [data-component-layout='commercial']
    ) {
    margin: var(--brick-space-teaserYInsetM, 15px)
      var(--brick-space-teaserXInsetM, 15px);
  }

  amedia-frontpage
    amedia-include:has(amedia-smartembed):has(
      [data-component-layout='editorial']
    ),
  amedia-frontpage amedia-include:has(amedia-smartembed):has(brick-teaser) {
    margin-bottom: max(
      var(--brick-space-teaserYInsetM, 15px),
      var(--brick-space-teaserContentYInsetM)
    );
    margin-top: max(
      var(--brick-space-teaserYInsetM, 15px),
      var(--brick-space-teaserContentYInsetM)
    );
    margin-left: 0;
    margin-right: 0;
  }

  /* temporary latestlist fix, can be removed when amedia-latestlist is fixed*/
  amedia-frontpage
    amedia-include:has(amedia-smartembed):has(
      amedia-latestlist:not([data-component-layout='editorial'])
    ) {
    margin-left: var(--brick-space-teaserXInsetM, 15px);
    margin-right: var(--brick-space-teaserXInsetM, 15px);
  }

  amedia-frontpage .bazaar-grid bazaar-ad:empty {
    margin-bottom: 0 !important;
  }

  @keyframes revealFullImage {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  optimus-element .imagewrapper {
    background: rgba(0, 0, 0, 0.05);
  }

  #visualize-personalization-overlay {
    max-width: 75vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: #8b0000b3;
    font-family: Roboto, sans-serif;
    margin-left: 1vw;
    position: fixed;
    top: 100px;
    z-index: 999999;
    padding: 0 50px 40px 50px;
    color: #ffffff;
  }

  @media screen and (max-width: 500px) {
    #visualize-personalization-overlay {
      font-size: 10px;
      max-width: 100%;
      padding: 0 10px;
      top: 30px;
    }

    #visualize-personalization-overlay ul li {
      line-height: 20px;
    }
  }

  #visualize-personalization-overlay .personalized-article-scroll:hover {
    text-decoration-line: underline;
    cursor: pointer;
  }

  @keyframes fading {
    0% {
      outline: red solid 5px;
    }
    100% {
      outline: white solid 5px;
    }
  }
}

amedia-img {
  min-height: 1px;
  display: block;
}

brick-carousel > section > ul.contents-wrapper > li.content-wrapper {
  min-height: 1px;
}

brick-carousel amedia-laserbeak {
  display: block;
  height: inherit;
}
